@media (min-width: 400px) {
  .container {
    /* font-family: "Pattaya";
  font-family: "Henny Penny";
  font-family: "Roboto", sans-serif; */
  }
  .logo {
    width: 80px;
  }
  .link,
  .imglogo {
    border-collapse: collapse;
  }
  .container {
    display: table-cell;
    display: flex; /*יסדר את האלמנטים בתוך המיכל בשורה אחת.*/
    height: 100px;
    background-color: #72cc07;
    align-items: center; /*  מיקום האלמנט במיכל בהתאם לגובה*/
    justify-content: space-between; /*קביעת ריווח בין האלמנטים*/
    flex-direction: row; /*סידור האלמנט כשורה או כעמודה*/
    flex-wrap: wrap; /*כשהמסך רספונסיבי תהיה ירידת שורה*/
  }
}
