@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Kaushan+Script&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pattaya&display=swap');




@import 'Setup';
@import 'index';
@import 'about';
@import 'footer';
@import 'Navbar';
@import 'contact';
@import 'Media';
@import 'faq';

.navbar {
    padding: 0px !important
}

img.demo {
    padding-bottom: 10px;
}

.carousel-item.active::after, .xx.active::after{
content:"" !important;
}




  



