@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Kaushan+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pattaya&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#f2f2f2, #8cbf3f, #f2f2f2, #9453a6, #f2f2f2, #8cbf3f, #f2f2f2, #9453a6, #f2f2f2);
}

.carousel-item img {
  height: 40vw;
}

h1 {
  color: #9453a6;
}

h5 {
  font-family: "pattaya", sans-serif;
  color: #9453a6;
  font-size: 1.3rem;
}

h4 {
  font-family: "Henny Penny", cursive;
  font-size: 4rem;
  color: #f2f2f2;
}

.imgc {
  -o-object-fit: cover;
     object-fit: cover;
  height: 8vh;
}

.card-body {
  background-image: linear-gradient(#f2f2f2, #f2f2f2, #f2f2f2, #8cbf3f, #f2f2f2, #8cbf3f, #f2f2f2, #f2f2f2, #f2f2f2);
}

.card-text {
  font-family: "pattaya", sans-serif;
  font-size: 1.2rem;
}

.img-mobail {
  display: none;
}

@media (max-width: 600px) {
  .carousel {
    display: none;
  }
  .img-mobail {
    display: block;
  }
}
.card {
  margin: 0 auto;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*  background-image: linear-gradient($w,$g,$w,$p,$w,$g,$p,$w); */
/* img {
    border: 5px solid black;
}

.imglatoya {
    float: right;
    width: 450px;
    height: 450px;
    box-shadow: 10px 10px;
    padding: 15px 15px 15px 15px;
    margin-right: 100px;
    margin-top: 20px;
    border-radius: 5px;

}

.h1 {
    font-family: $hfont;
    text-align: center;
    font: size 3rem;
    margin: 0 auto;
}

h2 {
    font-family: $pfont ;
    font-size: 2rem;
    text-align: center;
    color: $p;
}

.section {
    font-family: $pfont;
    line-height: 2;
    font-size: 1.3rem;

}

.about {
    width: 50vw;
    border: 2px solid black;
    box-shadow: 10px 10px;

    padding: 15px 15px 15px 25px;
    margin-top: 80px;
    margin-left: 150px;

}









 */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*  background-image: linear-gradient($w,$g,$w,$p,$w,$g,$p,$w); */
/*  img {
     border: 5px solid black;
     margin-top: 50px;
     margin-right: 130px;
 } */
@media (max-width: 1500px) {
  .imgtext {
    display: flex;
    justify-content: center;
  }
}

.imglatoya {
  width: 450px;
  height: 450px;
  box-shadow: 10px 10px;
  border-radius: 5px;
  border: 5px solid black;
  margin-top: 50px;
}
@media (min-width: 1500px) {
  .imglatoya {
    float: right;
    margin-right: 130px;
  }
}

.h1 {
  font-family: "Henny Penny", cursive;
  text-align: center;
  font: size 3rem;
  margin: 0 auto;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #9453a6;
}

.section {
  font-family: "Roboto", sans-serif;
  line-height: 2;
  font-size: 1.3rem;
}

.about {
  border: 2px solid black;
  box-shadow: 10px 10px;
  padding: 15px 15px 15px 25px;
  margin-top: 50px;
}
@media (min-width: 1500px) {
  .about {
    width: 50vw;
    margin-left: 10%;
  }
}

footer {
  background-color: #0d0d0d;
  font-family: pattaya;
  text-align: center;
  color: #9453a6;
  margin-top: 10vw;
  margin-bottom: 0vw;
}

a {
  color: #f2f2f2;
}

h10 {
  font-size: 2rem;
}

nav {
  font-size: 3rem;
  font-family: "Henny Penny", cursive;
  background-color: #0d0d0d;
}

.nav-link {
  color: #8cbf3f;
}

.container-fluid {
  background-color: #0d0d0d;
}

img {
  width: 150px;
  height: 150px;
}

#navbarSupportedContent {
  margin-left: 400px;
}

/*  #navbarSupportedContent:hover{
color: firebrick;
 } */
.navbar-toggler {
  color: #f2f2f2;
  background-color: #f2f2f2;
  width: 20vw;
}

.navbar-nav {
  --bs-nav-link-hover-color:white;
}

.container1 {
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 100px;
  margin: 0 auto;
  width: 100vw;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  top: 10px;
}

.container-form {
  width: 380px;
  display: block;
  background-color: #f2f2f2;
  border: 4px solid #0d0d0d;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}

label {
  font-size: 2.5rem;
  font-family: "pattaya", sans-serif;
  text-align: center;
  color: #9453a6;
}

input {
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  font-family: "pattaya", sans-serif;
  margin-top: 50px;
  font-size: 4rem;
}

.button {
  margin-left: 10px;
  color: #9453a6;
  width: 250px;
  font-family: "pattaya", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body1 {
  font-family: "Henny Penny", cursive;
  margin: 0;
}

.imgmedia {
  vertical-align: middle;
  height: 30vw;
  width: 100%;
}

/* Position the image container (needed to position the left and right arrows) */
.containermedia {
  position: relative;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 5vw;
  display: block;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.hmedia {
  text-align: center;
  font-family: "pattaya", sans-serif;
  font-size: 5rem;
}

.vidmedia {
  margin-left: 5vw;
}

.container-faq {
  display: block;
  border: 10px outset #8cbf3f;
  margin-left: 20vw;
  margin-right: 20vw;
}

.accordion {
  background-color: rgb(230, 237, 219);
  color: #9453a6;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border: 3px double #9453a6;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-left: 0;
  font-family: "pattaya", sans-serif;
  font-size: 1.5rem;
}

.active,
.accordion:hover {
  background-color: rgb(207, 232, 170);
}

.accordion:after {
  content: "+";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
}

.panel {
  padding: 0 18px;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.3rem;
  font-family: "pattaya", sans-serif;
}

.faq {
  font-family: "pattaya", sans-serif;
  font-size: 4rem;
  margin-top: 5vw;
  text-align: center;
}

.navbar {
  padding: 0px !important;
}

img.demo {
  padding-bottom: 10px;
}

.carousel-item.active::after, .xx.active::after {
  content: "" !important;
}/*# sourceMappingURL=main.css.map */