.accordion {
  width: 100vh;
  border: #0d0d0d 3px solid;
  box-shadow: 5px 5px 8px 0.5px #0d0d0d52;
  margin-bottom: 5rem;
}

.accordion .accordion-button {
  background-color: #9453a6;
  color: #0d0d0d;
  border: #8cbf3f 1px solid;
  font-family: "Henny Penny", cursive;
  font-size: 2rem;
}
.accordion .accordion-body {
  border: #8cbf3f 1px solid;
  background-color: #f2f2f2c5;
  color: #0d0d0d;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}
