footer {
  text-align: center;
}
footer h5 {
  color: #9453a6;
  font-family: "pattaya", sans-serif;
  font-size: 2rem;
  padding-top: 4vw;
}
footer h6 {
  color: #8cbf3f;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}
