* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}

.container-fluid {
  width: 100%;
  padding: 0 16px;
}

.container {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: #0d0d0d;
}

header .container {
  display: flex;
}

.slider {
  padding: 0;
}

main {
  background-color: #f2cc0f44;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 8vh;
}

/* main .text {
  display: flex;
  flex-wrap: wrap;
} */

footer {
  background-color: #0d0d0d;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
