img {
  width: 80px;
  height: 80px;
}

.hamburger {
  background-color: #f2cc0f;
}

.navlink {
  font-family: "pattaya", sans-serif;
  font-size: 1.8rem;
  color: #9453a6;
  padding: 0 1.5rem;
  text-decoration: none;
}

.navlink:hover {
  color: #f2cc0f;
}
