.carousel-item img {
  height: 40vw;
}

h1 {
  color: #9453a6;
}
h5 {
  font-family: $f1;
  color: $g;
  font-size: 1.3rem;
}
h4 {
  font-family: $f3;
  font-size: 1.5rem;
  color: $w;
}

.img {
  object-fit: cover;
  height: 8vh;
}
.card-body {
  background-image: $b;
}
.card-text {
  font-family: $f1;
  font-size: 1.2rem;
}
.img-mobail {
  display: none;
}

@media (max-width: 600px) {
  .carousel {
    display: none;
  }

  .img-mobail {
    display: block;
  }
}
.card {
  margin: 0 auto;
}
